/* Set root font-size @10px equivalent */
html {
    font-size: .625em; /* fallback IE8+ */
    font-size: calc(1em * .625); /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
    scroll-behavior: smooth;
  }
  
  /* Box sizing rules */
  *,
  *::before,
  *::after {
  box-sizing: border-box;
  }
  
  /* Remove focus for mouse users */
  :focus:not(:focus-visible) {
  outline: none;
  }
  
  /* Set core body defaults */
  body {
  min-height: 100vh;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: #000;
  }
  
  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  ul[class],
  ol[class],
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
  margin: 0;
  }
  
  /* Remove default padding */
  ul[class],
  ol[class] {
  padding: 0;
  list-style: none;
  text-decoration: inherit;
  }
  
  /* Remove list styles on ul, ol elements with a class attribute */
  ul[class],
  ol[class] {
  list-style: none;
  }
  ul,
  li {
    list-style: none;
    text-decoration: inherit;
  }
  a {
    text-decoration: inherit;
    color:inherit;
  }
  /* A elements that don't have a class get default styles */
  a:not([class]) {
  text-decoration-skip-ink: auto;
  }
  
  /* Make medias easier to work with */
  img,
  video,
  audio {
  max-width: 100%;
  display: block;
  height: auto;
  }
  
  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
  font: inherit;
  }
  
  /* Set cursor pointer */
  label[for],
  button,
  input[type="submit"],
  select {
  cursor: pointer;
  }
  
  /* Remove font style on address */
  address {
  font-style: normal;
  }
  
  /* Remove all animations and transitions for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  }
  
  /* Text meant only for screen readers. */
  .screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  white-space: nowrap;
  }
  
  /* Image replacement technique 2012 H5BP  - https://css-tricks.com/the-image-replacement-museum/ */
  
  .ir {
  font: 0/0 a;
  color: transparent;
  border: 0;
  text-shadow: none;
  }
  
  /* Phone links active only under 36em (576px) */
  a[href^="tel"] {
  white-space: nowrap;
  pointer-events: none;
  text-decoration: none;
  color: inherit;
  }
  
  @media (max-width: 36em) {
  a[href^="tel"] {
    pointer-events: auto;
    text-decoration: underline;
  }
  }
  
  /* Print external URLs */
  @media print {
  a {
    text-decoration: underline;
  }
  
  a[href]:not([href^='#'])::after {
    content: '('attr(href)')';
  }
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
  

/* You can add global styles to this file, and also import other style files */
h1 {
  color: white;
  font-family: 'Montserrat';
  font-size: 600;
  font-size: 4rem;
  text-align: center;
  filter: drop-shadow(5px 5px 0 blue);
}
body {
  background-color: #e0e0e0;
  color: rgb(42, 42, 42);
  font-family: 'Montserrat';
}
h2, h3 {
  font-family: 'Montserrat';
}
body {
  margin: 2rem 5rem;
}
body, input[type="text"], button {
  color: #333;
}